africastalking==1.2.5
asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contextlib2==21.6.0
cryptography==41.0.3
Django==4.2.5
django-environ==0.11.2
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
idna==3.4
josepy==1.13.0
mozilla-django-oidc==3.0.0
phonenumbers==8.13.20
psycopg2-binary==2.9.7
pycparser==2.21
pyOpenSSL==23.2.0
pytz==2023.3.post1
requests==2.31.0
schema==0.7.5
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
